.OmOs h2 {
  text-align: center;
  padding: 10px 30px;
  margin: 20px auto 20px auto;
  font-weight: 400;
  font-size: 13px;
  color: #fbfbfb;
  font-family: "Poppins";
  line-height: 1.5;
}

@media (min-width: 768px) {
  .OmOs h2 {
    font-weight: 400;
    font-size: 20px;
    color: #fbfbfb;
    font-family: "Poppins";
  }
}

.about-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 300px; /* однакова висота для кожного рядка */
  grid-template-areas:
    "a"
    "b"
    "c"
    "d";
  gap: 0;
  margin: 0 auto;
  padding: 10px 0;
}

.text1 {
  grid-area: a;
}
.foto1 {
  grid-area: b;
}
.text2 {
  grid-area: c;
}
.foto2 {
  grid-area: d;
}

.text1,
.text2,
.foto1,
.foto2 {
  display: flex;
  justify-content: center; /* по горизонталі */
  align-items: center; /* по вертикалі */
  height: 100%; /* займають всю висоту ячейки */
  width: 100%; /* займають всю ширину ячейки */
}

.text1,
.text2 {
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 15px;
}
.text1 {
  background: #33424e;
}
.text2 {
  background: #666b6dbc;
}

.foto1 img,
.foto2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .about-container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 400px;
    grid-template-areas:
      "a b"
      "c d";

    height: auto;
  }
  .text1 {
    grid-area: a;
  }
  .foto1 {
    grid-area: b;
  }
  .foto2 {
    grid-area: c;
  }
  .text2 {
    grid-area: d;
  }

  .text1,
  .foto1,
  .foto2,
  .text2 {
    height: 400px;
    font-size: 20px;
  }
}
