* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c0c0c;
}

img {
  width: 100%;
  height: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (max-width: 1100px) {
  .container {
    padding: 0 14px;
  }
}

a,
li {
  text-decoration: none;
  list-style: none;
}
