/* Hero */

.hero-img {
  width: 100%;
  height: 100%;
  display: block;
}
.hero-title {
  background: rgba(26, 25, 25, 0.369);
  position: relative;
  margin-top: -50px;
  color: #fff;
  font-size: 13px;
  font-family: "bellafeir";
  text-align: center;
  line-height: 1.5;
}

.next-arrow {
  display: block;
  margin: 0 auto 0;
  cursor: pointer;
  animation: pulse 2s infinite;
  background: none;
  border: none;
  width: 50px;
  height: 50px;
  padding-bottom: 20px;
}
.menu-open h1 {
  display: none;
}
.menu-open #hero .hero-title,
.menu-open #hero .next-arrow {
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .hero-title {
    background: rgba(26, 25, 25, 0.369);
    position: relative;
    margin-top: -100px;
    color: #fff;
    padding: 5px 10px;
    font-size: 28px;
    font-family: "bellafeir";
    text-align: center;
  }
  .next-arrow {
    padding: 0;
    padding-bottom: 0;
    width: 60px;
    height: 60px;
  }
}
