.form-container {
  width: 300px;
  min-height: 623px;
  background-color: #444444a0;
  border-radius: 4px;
  margin: 0 auto;
  padding: 72px 16px 24px 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #e3e3e3;
  display: block;
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: #e3e3e3a7;
  padding-left: 38px;
  outline: transparent;
  padding-right: 24px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #151e7c;
}

.modal-input:focus + .modal-icon {
  fill: #4a4e7e;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  /* transition-property: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  fill: #282d60;
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);

  background-color: #ffffff5d;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
  margin-bottom: 24px;
}
.visually-hidden {
  display: none;
}
.modal-checkbox-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-checkbox-item {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(255, 255, 255, 0.817);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.9, 0, 0.8, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  fill: transparent;
}

.modal-checkbox:checked + .modal-checkbox-text > .modal-checkbox-item {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-submit-button {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background-color: #222656;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:hover {
  background-color: #404bbf;
}

.modal-submit-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 740px;
    min-height: 584px;
    padding: 72px 20px 20px 20px;
  }
}
/* #endregion */
